/*Reset*/

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import"../SCSS/htmls/home";
@import"../SCSS/htmls/contacto";
@import"../SCSS/htmls/biografia";
@import"../SCSS/htmls/musica";
@import"../SCSS/htmls/fotos";

