
.formulario{
    text-align: center;
    background-color:black ; 
    color: whitesmoke;    
    font-size: x-large;
}
.formulario div input{
    text-align: center;
    background-color: whitesmoke;  
}
