.soundcloud, .Beat{
    display: none;
}
.videos {
    image-resolution: 25px;
}

.videos h1{
    background-color: black;
    color: whitesmoke;
}

.Videos div .spotify, .youtube{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.Videos{
    height: 40vh;
    margin: 1rem 3rem 50rem 3rem;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: repeat(3, 60%);
    row-gap: 1rem;
}
