/*Estilos para tablet*/
/*mq de tablet*/
@mixin tablet{
  
@media screen and (min-width: 600px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .contenedor .img-4 {
    grid-column: span 2;
  }
}
}

/*Estilos para PC-Desktop*/
/*mq de Desktop*/

@mixin desktop {
  @media screen and (min-width: 1024px) {
    .contenedor .img-2,
    .contenedor .img-4 {
      display: block;
    }
  
    .images {
      grid-template-columns: repeat(3, 1fr); 
      grid-template-rows: repeat(3, 1fr); 
      row-gap: 1.5rem;
    }
  
    .contenedor .img-1,
    .contenedor .img-3 {
      grid-row: span 2;
    }
  
    .contenedor .img-4 {
      grid-column: span 1;
    }
  } 

  @media screen and (min-width: 1200px) {
    .images {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }

  }